:root {
    --bg: #bda4f7;
    --text-light: #f0eed9;
    --header-bg: #72c9b8;
    --actionBar-bg: #72c9b8;
    --aside-bg: #72c9b8;
    --section-bg: #c7e0cd;
    --danger: #e75b66;
    --success: #59b15a;
    --disabled: #7f859f;
    --warning: #f6c425;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.theme-dark {
    --bg: #bda4f7;
    --tw: #f0eed9;
    --sc: #93cdec;
    --tc: #d9f3f4;
    --danger: #e75b66;
    --success: #59b15a;
    --disabled: #7f859f;
    --warning: #f6c425;
}

/* --------------------------------- */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
}

/* ------------- Header -------------- */
.header {
    width: 100%;
    height: 60px;
    background-color: var(--header-bg);
    background: url(images/Simple\ Shiny.svg) no-repeat center center/cover;
}


/* --------------- main -------------- */
main {
    position: absolute;
    top: 60px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* --------- aside ---------- */
.aside {
    min-width: 250px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    background-color: var(--aside-bg);
}

aside>* {
    border-radius: 0.5em;
    outline: none;
    border: none;
    width: 200px;
    font-size: 0.7em;
    background-color: rgba(245, 245, 245, 0.3);
    padding: 1em;
    line-height: 1.5em;
}

.greeting {
    font-size: 0.8em;
}

.newTaskBtn {
    height: 100px;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: rgba(245, 245, 245, 0.5);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.newTaskBtn:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.newTaskBtn:active {
    transform: scale(0.98);
}

.taskStatus{
    font-size: 0.7em;
    background-color: rgba(245, 245, 245, 0.2);
    padding: 1em;
}

.historyData{
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    display: block;
    margin-top: 0.5em;
}
.historyData>button{
    margin: 0 0.25em 0.5em 0;
    text-align: left;
    padding: 0.25em;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
}

/* -------------- task reminder ------------- */

.taskReminder input{
    border: none;
    outline: none;
    font-size: 1.2em;
    padding: 0.25em 0.8em;
    margin: 0.5em 0;
    background-color: rgba(255, 255, 255, 0.3);

}

/* --------- container -----  */
.container {
    padding: 2em 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(images/Polygon\ Luminary.svg) no-repeat center center/cover;

    background-color: var(--section-bg);
}

.actionBar {
    width: 100%;
    height: 50px;
    background-color: var(--actionBar-bg);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 0 1em;
    border-radius: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionBar .right>* {
    padding: 0.25em;
    cursor: pointer;
    opacity: 0.8;
}

.actionBar .right>*:hover {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 1;
}

/* --------- task container -------- */
.taskContainer {
    width: 100%;
    height: 100%;
    margin-top: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
    position: relative;
    background-color: rgba(245, 245, 245, 0.1);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: all 0.3s ease-in-out;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
}

/* --------- task ------------- */
.task {
    display: flex;
    background-color: whitesmoke;
    border-radius: 0.5em;
    padding: 0 1em;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.task:focus{
    border: 1px solid red;
}

.task>input {
    font-size: 1em;
    width: 100%;
    outline: none;
    border: none;
    padding-right: 1em;
    letter-spacing: 1px;
    background-color: transparent;
}

.task>span {
    padding: 0.5em 0.2em;
    cursor: pointer;
    opacity: 0.5;
}
.task>span>span{
    font-weight:300;
}

.task>span:hover {
    opacity: 1;
}

/* ------------------ Take username ----------------- */
.takeUsername{
    display: none;
    width: 100vw;
    background-color: rgba(245, 245, 245, 0.1);
    backdrop-filter: blur(4px);
    height: 100vh;
    position: absolute;
    z-index: 9999;
    text-align: center; 
}
.takeUsername>*{
    margin-top: 45vh;
    padding: 0.5em;
    font-size: 1.5em;
    outline: none;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border-radius: 0.25em;
    border: none;
}